/*
    Author: Connor Kippes
*/

.button {
  background: linear-gradient(var(--accent-color-light), var(--accent-color-medium)); /* Slight gradient for depth */
  border: none;
  color: var(--text-color-light);
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 5px var(--accent-color-dark); /* Bottom shadow for 3D */
  transition: all 0.1s ease;
}

.button:active {
  transform: translateY(4px); /* Move down on click */
  box-shadow: 0 1px var(--accent-color-dark); /* Reduce shadow */
}

.button:hover {
  filter: brightness(1.1);
}